<ion-content>
  <p>Klas:</p>
  <div class="form-group">
    <select
      *ngIf="klassen != null"
      class="form-control"
      id="exampleFormControlSelect1"
    >
      <option>Kies</option>
      <option *ngFor="let doc of klassen">{{ doc.naam }}</option>
    </select>
  </div>

  <p>Group size</p>
  <div class="form-group">
    <input type="number" class="form-control" min="2" />
  </div>
  <div class="form-group text-center">
    <button class="btn btn-primary">Groepen maken</button>
  </div>
</ion-content>
