<ion-content>
  <p>Klas:</p>
  <div class="form-group">
    <select
      *ngIf="klassen != null"
      class="form-control"
      id="exampleFormControlSelect1"
      [(ngModel)]="selected.klas"
    >
      <option value="{{ doc.id }}" *ngFor="let doc of klassen">{{
        doc.data().naam
      }}</option>
    </select>
  </div>

  <p>Group size</p>
  <div class="form-group">
    <input
      [(ngModel)]="selected.group_size"
      type="number"
      class="form-control"
      min="2"
    />
  </div>
  <div class="form-group text-center">
    <button (click)="MaakGroep()" class="btn btn-primary submitButton">
      Groepen maken
    </button>
  </div>
</ion-content>
